# Print Statement

In [1]:
print("HOPE AI")

HOPE AI

# By input

In [2]:
name = str(input("Enter your institute name? : "))

# By inputs

In [5]:
name = str(input("Enter your name: \n"))
age = int(input("Enter your age: \n"))
school_name = str(input("Enter your school name: \n"))
degree = str(input("Enter your drgree: \n"))

"""Enter your name: Raj 
Enter your age: 15 
Enter your school name: Guru school
Enter your drgree: B.E CSE """

'Enter your name: Raj \nEnter your age: 15 \nEnter your school name: Guru school\nEnter your drgree: B.E CSE '

# Addition

In [7]:
a= 43 
b= 34 
add = a+b

print("a= ", a)
print("b= ", b)
print("add= ", add)

a=  43
b=  34
add=  77

# Subtraction

In [9]:
a= 43 
b= 34 
Sub = a-b

print("a= ", a)
print("b= ", b)
print("Sub= ", Sub)

a=  43
b=  34
Sub=  9

# Multiplication

In [11]:
a= 63 
b= 97 
Mul = a*b

print("a= ", a)
print("b= ", b)
print("add= ", Mul)

a=  63
b=  97
add=  6111

# Division

In [12]:
a= 76 
b= 31
Div = a/b

print("a= ", a)
print("b= ", b)
print("Float Div= ", Div)

a=  76
b=  31
Float Div=  2.4516129032258065

# Floor division

In [14]:
from math import floor


a= 76 
b= 31
Div = floor(a/b)

print("a= ", a)
print("b= ", b)
print("Floor Div= ", Div)

a=  76
b=  31
Floor Div=  2

# Modulo

In [15]:
a= 76 
b= 31
Modulo = a%b

print("a= ", a)
print("b= ", b)
print("Modulo= ", Modulo)

a=  76
b=  31
Modulo=  14

# Power

In [16]:
a= 4 
b= 4
Power = a**b

print("a= ", a)
print("b= ", b)
print("Power= ", Power)

a=  4
b=  4
Power=  256